<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div class="container contenedor-empleados">
    <label class="titulo">Crear Empleado</label>
    <form [formGroup]="formEmpleado" (ngSubmit)="guardarEmpleado()">

        <div class="row">
            <div class="col-md-9 col-sm-8">
                <div class="row empleados">
                    <!-- Input Nombre -->
                    <div class="col-md-6">
                        <span style="font-weight: bold;font-style: italic;">Nombre</span>
                        <input style="font-style: italic;" type="text" id="nombre" class="form-control"
                            formControlName='nombre' placeholder="Nombre.."
                            [ngClass]="{'is-invalid': formEmpleado.get('nombre').value == '', 'is-valid': !(formEmpleado.get('nombre').value == '')}"
                            required>
                    </div>
                    <!-- Input Apellido -->
                    <div class="col-md-6">
                        <span style="font-weight: bold;font-style: italic;">Apellido</span>
                        <input style="font-style: italic;" type="text" id="apellido" class="form-control"
                            formControlName='apellido' placeholder="Apellido.."
                            [ngClass]="{'is-invalid': formEmpleado.get('apellido').value == '', 'is-valid': !(formEmpleado.get('apellido').value == '')}"
                            required>
                    </div>
                </div>
                <div class="row empleados">
                    <!-- Input Telefono -->
                    <div class="col-md-6">
                        <span style="font-weight: bold;font-style: italic;">Telefono</span>
                        <input style="font-style: italic;" type="numeric" id="telefono" class="form-control"
                            formControlName='telefono' placeholder="Telefono.."
                            [ngClass]="{'is-invalid': formEmpleado.get('telefono').value == '', 'is-valid': !(formEmpleado.get('telefono').value == '')}"
                            required>
                    </div>
                    <!-- Input Mail -->
                    <div class="col-md-6">
                        <span style="font-weight: bold;font-style: italic;">Mail</span>
                        <input type="email" id="mail" class="form-control" formControlName='mail' placeholder="Mail.."
                            [ngClass]="{'is-invalid': formEmpleado.get('mail').value == '', 'is-valid': !(formEmpleado.get('mail').value == '')}"
                            required>
                    </div>
                </div>
                <div class="row empleados">
                    <!-- Input Foto -->
                    <div class="col-md-6">
                        <span style="font-weight: bold;font-style: italic;">Foto</span><br />
                        <input style="font-style: italic;" type="File" class="btn btn-secondary" placeholder="Subir.."
                            required>
                    </div>
                </div>
                <div class="row empleados">
                    <!-- Input Usuario -->
                    <div class="col-md-6">
                        <span style="font-weight: bold;font-style: italic;">Usuario</span>
                        <input style="font-style: italic;" type="text" id="usuario" class="form-control"
                            formControlName='usuario' placeholder="Usuario.."
                            [ngClass]="{'is-invalid': formEmpleado.get('usuario').value == '', 'is-valid': !(formEmpleado.get('usuario').value == '')}"
                            required>
                    </div>
                    <!-- Input Password -->
                    <div class="col-md-6">
                        <span style="font-weight: bold;font-style: italic;">Contraseña</span>
                        <input style="font-style: italic;" type="text" id="password" class="form-control"
                            formControlName='password' placeholder="Contraseña.."
                            [ngClass]="{'is-invalid': formEmpleado.get('password').value == '', 'is-valid': !(formEmpleado.get('password').value == '')}"
                            required>
                    </div>
                </div>
                <div class="row empleados">
                    <!-- Guardar -->
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success" [disabled]='formEmpleado.invalid'>Guardar <i
                                class="fas fa-save"></i></button>
                    </div>
                    <!-- Cancelar -->
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger"
                            [routerLink]="['/empleado/listadoEmpleado']">Cancelar <i
                                class="fas fa-undo-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>