<div class="table-responsive" id="tablaEmpleados" style="background-color:white">
    <table class="table table-striped" id="mydatatable">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Mail</th>
                <th>Foto</th>
                <th style="text-align: center">Acciones</th>
            </tr>
        </thead>
        <tr *ngFor="let item of listadosService.empleados | paginate: { itemsPerPage: 5, currentPage: pageActual }">
            <td>{{item.apellido}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.mail}}</td>
            <td>{{item.foto}}</td>
            <td><button type="button" class="btn btn-info"
                    [routerLink]="['/empleado/detalleEmpleado', item.id_empleado]" style="margin: 10px">Ver <i
                        class="fas fa-search-plus"></i></button>
                <button type="button" class="btn btn-success"
                    [routerLink]="['/empleado/modificarEmpleado', item.id_empleado]" style="margin: 10px">Modificar <i
                        class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                    style="margin: 10px" (click)="openModal(template)">Eliminar <i
                        class="fas fa-trash-alt"></i></button></td>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Eliminar empleado</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Desea eliminar al empleado: <strong>{{item.nombre}} {{item.apellido}}</strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                        (click)="eliminarEmpleado(item)">Aceptar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="modalRef.hide()">Cancelar</button>
                </div>
            </ng-template>
        </tr>
    </table>
    <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
    <button type="button" [routerLink]="['/empleado/altaEmpleado']" class="btn btn-primary" style="margin: 15px"> Nuevo Empleado <i class="fas fa-plus"></i></button>
    <button type="button" class="btn btn-warning" (click)="generarPDF()" style="margin: 15px"> Descargar PDF <i class="fas fa-file-pdf"></i></button>
    <button type="button" class="btn btn-success" (click)="exportAsXLSX()" style="margin: 15px"> Descargar Excel <i class="fas fa-file-excel"></i></button>
</div>