<div class="container contenedor-empleados">
    <label class="titulo">Detalle Empleado</label>
        <div class="row" *ngFor="let item of empleado">
            <div class="col-md-9 col-sm-8">
                <div class="row empleados">         
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Nombre</label></strong>
                        <input type="text" id="nombre" class="form-control" value="{{item.nombre}}" disabled> 
                    </div>
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Apellido</label></strong>
                        <input style="font-style: italic;" type="text" id="apellido" class="form-control" value="{{item.apellido}}" disabled>
                    </div>
                </div>
                <div class="row empleados">
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Telefono</label></strong>
                        <input style="font-style: italic;" type="numeric" id="telefono" class="form-control" value="{{item.telefono}}" disabled> 
                    </div>
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Mail</label></strong>
                        <input style="font-style: italic;" type="email" id="mail" class="form-control" value="{{item.mail}}" disabled>           
                    </div>
                </div>
                <div class="row empleados" style="font-style: italic;">
                    <div class="col-md-6"><strong><label>Usuario</label></strong>
                        <input style="font-style: italic;" type="text" id="usuario" class="form-control" value="{{item.usuario}}" disabled>
                    </div>
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Password</label></strong>
                        <input style="font-style: italic;" type="text" id="password"  class="form-control" value="{{item.password}}" disabled>  
                    </div>
                </div>
                <div class="row empleados">
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Foto</label></strong><br/>
                        <img class="img-responsive" style= "max-width: 200px;" src="assets/images/{{item.foto}}">
                    </div>
                </div>
                <div class="row empleados">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger" [routerLink]="['/empleado/listadoEmpleado']">Volver <i class="fas fa-undo-alt"></i></button>
                    </div>
                </div>
        </div>
    </div>
</div>
