
<div class="panel-tarjetas">
  <div  class="row">
    <div *ngFor="let item of mesas" class="col-md-4 tarjetas">
        <div class="card text-black bg-light mb-3" style="max-width: 18rem;" type= "button">
            <div class="card-header">
                <i class="fas fa-table fa-3x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.nro_mesa}}</h5>
              <p class="card-text">{{item.nombre}}</p>
            </div>
        </div>
    </div>
  </div>
</div>
