<div class="container contenedor-encuestas">
  <section class="row">
    <div class="col-md-12">
      <h1 class="text-center">Encuesta de Satisfacción: LA COMANDA </h1>
      <hr>
    </div>
  </section>

  <!--  Durante la Atención  -->
  <section class="row">
    <div class="col-md-12">
      <h3>Calidad la Atención</h3>
      <h6>(califique del 1 al 10 la atencion recibida)</h6>
    </div>
  </section>
  <br />

  <!--  PREGUNTA 1  -->
  <section class="row">
    <div class="col-md-12">
      1- ¿Que tan satisfecho con la Mesa?
      <input type="number" name="pregunta1" id="pregunta1a" value="1">
    </div>
  </section>
  <br />

  <!--  PREGUNTA 2  -->
  <section class="row">
    <div class="col-md-12">
      2- ¿Que tan satisfecho con el Restaurante?
      <input type="number" name="pregunta1" id="pregunta1a" value="1">
    </div>
  </section>
  <br />

  <!--  PREGUNTA 3  -->
  <section class="row">
    <div class="col-md-12">
      3- ¿Que tan satisfecho con el Mozo?
      <input type="number" name="pregunta1" id="pregunta1a" value="1">
    </div>
  </section>
  <br />

  <!--  PREGUNTA 4  -->
  <section class="row">
    <div class="col-md-12">
      4- ¿Que tan satisfecho con el Cocinero?
      <input type="number" name="pregunta1" id="pregunta1a" value="1">
    </div>
  </section>
  <br />

  <hr>
  <!--  Comentarios  -->
  <section class="row">
    <div class="col-md-12">
      <h3>Comentarios</h3>
      <p></p>
    </div>
  </section>
  <section class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="comment">Deje sus comentarios (maximo 66 caracteres):</label>
        <textarea class="form-control" rows="1" id="comentarios" maxlength="66"></textarea>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-info" id="saveForm" onclick="saveForm">Guardar Encuesta</button>
    </div>
  </section>
</div>