<div class="container contenedor-encuestas">
  <section class="row">
    <div class="col-md-12">
      <h1 class="text-center">Encuesta de Satisfacción LA COMANDA </h1>
      <p class="text-center">Por favor, califique del 1 al 10 la atencion recibida</p>
    </div>
  </section>
  <hr>

  <!--  Durante la Atención  -->
  <section class="row">
    <div class="col-md-12">
      <h3>Calidad la Atención</h3>
      <p></p>
    </div>
  </section>
  <!--  PREGUNTA 1  -->
  <section class="row">
    <div class="col-md-12">
      <p>1- ¿Que tan satisfecho con la Mesa?</p>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="1"> 1
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="2"> 2
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="3"> 3
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="4"> 4
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="5"> 5
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="6"> 6
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="7"> 7
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="8"> 8
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="9"> 9
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta1" id="pregunta1a" value="10"> 10
      </label>
    </div>

  </section>
  <!--  PREGUNTA 2  -->
  <section class="row">
    <div class="col-md-12">
      <p>2- ¿Que tan satisfecho con el Restaurante?</p>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="1"> 1
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="2"> 2
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="3"> 3
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="4"> 4
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="5"> 5
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="6"> 6
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="7"> 7
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="8"> 8
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="9"> 9
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta2" id="pregunta2b" value="10"> 10
      </label>
    </div>

  </section>
  <!--  PREGUNTA 3  -->
  <section class="row">
    <div class="col-md-12">
      <p>3- ¿Que tan satisfecho con la atencion del Mozo?</p>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="1"> 1
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="2"> 2
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="3"> 3
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="4"> 4
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="5"> 5
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="6"> 6
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="7"> 7
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="8"> 8
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="9"> 9
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta3" id="pregunta3c" value="10"> 10
      </label>
    </div>

  </section>
  <!--  PREGUNTA 4  -->
  <section class="row">
    <div class="col-md-12">
      <p>4- ¿Que tan satisfecho con la Cocina?</p>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="1"> 1
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="2"> 2
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="3"> 3
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="4"> 4
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="5"> 5
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="6"> 6
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="7"> 7
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="8"> 8
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="9"> 9
      </label>
    </div>
    <div class="col-md-1">
      <label class="radio">
        <input type="radio" name="pregunta4" id="pregunta4d" value="10"> 10
      </label>
    </div>

  </section>

  <br />
  <!--  Comentarios  -->
  <section class="row">
    <div class="col-md-12">
      <h3>Comentarios</h3>
      <p></p>
    </div>
  </section>
  <section class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="comment">Deje sus comentarios (maximo 66 caracteres):</label>
        <textarea class="form-control" rows="1" id="comentarios" maxlength="66"></textarea>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-info" id="saveForm" onclick="saveForm">Guardar Encuesta</button>
    </div>
  </section>
</div>