<div class="container contenedor-pedidos">
  <label class="titulo">Modificar Pedido</label>
  <form [formGroup]="formPedido" (ngSubmit)="modificarPedido()">

      <div class="row">
          <div class="col-md-9 col-sm-8">
              <div class="row pedidos">
                  <!-- Input Cliente -->
                  <div class="col-md-6"><strong><label>Cliente</label></strong>
                      <input type="text" id="cliente" class="form-control" formControlName='cliente' required>
                      <span style="color: red" *ngIf="formPedido.controls['cliente'].touched && formPedido.controls['cliente'].errors?.required">El nombre es requerido</span>   
                  </div>
                  <!-- Input Mesa -->
                  <div class="col-md-6"><strong><label>Mesa</label></strong>
                      <input type="text" id="mesa" class="form-control" formControlName='mesa' required>
                      <span style="color: red" *ngIf="formPedido.controls['mesa'].touched && formPedido.controls['mesa'].errors?.required">El apellido es requerido</span>
                  </div>
              </div>
              <div class="row pedidos">
                  <!-- Input Foto Mesa -->
                  <div class="col-md-6"><strong><label>Foto Mesa</label></strong>
                      <input type="numeric" id="fotoMesa" class="form-control" formControlName='fotoMesa' required>
                      <span style="color: red" *ngIf="formPedido.controls['fotoMesa'].touched && formPedido.controls['fotoMesa'].errors?.required">El telefono es requerido</span>   
                  </div>
                  <!-- Input Estado Pedido -->
                  <div class="col-md-6"><strong><label>Estado Pedido</label></strong>
                      <input type="email" id="estadoPedido" class="form-control" formControlName='estadoPedido' required>
                      <span style="color: red" *ngIf="formPedido.controls['estadoPedido'].touched && formPedido.controls['estadoPedido'].errors?.required">El mail es requerido</span>           
                  </div>
              </div>
              <div class="row pedidos">
                  <!-- Input Tiempo Espera -->
                  <div class="col-md-6"><strong><label>Tiempo de espera</label></strong>
                      <input type="text" id="tiempoEspera" class="form-control" formControlName='tiempoEspera' required>
                      <span style="color: red" *ngIf="formPedido.controls['tiempoEspera'].touched && formPedido.controls['tiempoEspera'].errors?.required">La foto es requerida</span>   
                  </div>
              </div>
              <div class="row pedidos">
                  <!-- Input Importe -->
                  <div class="col-md-6"><strong><label>Importe</label></strong>
                      <input type="text" id="importe" class="form-control" formControlName='importe' required>
                      <span style="color: red" *ngIf="formPedido.controls['importe'].touched && formPedido.controls['importe'].errors?.required">El usuario es requerido</span>   
                  </div>
              </div>
              <div class="row pedidos">
                  <!-- Guardar -->
                  <div class="col-sm-2">
                      <button type="submit" class="btn btn-success" [disabled]= 'formPedido.invalid'>Guardar</button>
                  </div>
                  <!-- Cancelar -->
                  <div class="col-sm-2">
                      <button type="button" class="btn btn-danger" [routerLink]="['/pedido/listadoPedido']">Cancelar</button>
                  </div>
              </div>
      </div>
    </div>
  </form>
</div>
