<div class="table-responsive" id="tablaClientes" style="background-color:white">
    <table class="records_list table table-striped table-bordered table-hover" id="mydatatable">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Mesa</th>
                <th>Codigo Mesa</th>
                <th>Foto Mesa</th>
                <th>Estado Pedido</th>
                <th>Tiempo Espera</th>
                <th>Importe</th>
                <th style="text-align: center">Acciones</th>
            </tr>
        </thead>
        <tr *ngFor="let item of pedidos | paginate: { itemsPerPage: 5, currentPage: pageActual }">
            <td>{{item.nombreCliente}} {{item.apellidoCliente}}</td>
            <td>{{item.id_mesa}}</td>
            <td>{{item.codigo_mesa}}</td>
            <td>{{item.foto_mesa}}</td>
            <td>{{item.detalleEstadoPedido}}</td>
            <td>{{item.tiempo_espera}}</td>
            <td>$ {{item.total}}</td>
            <td><button type="button" class="btn btn-info" [routerLink]="['/pedido/detallePedido', item.id_pedido]"
                    style="margin: 10px">Ver <i class="fas fa-search-plus"></i></button>
                <button type="button" class="btn btn-success" [routerLink]="['/pedido/modificarPedido', item.id_pedido]"
                    style="margin: 10px">Modificar Estado <i class="fas fa-edit"></i></button>
                <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="margin: 10px" (click)="openModal(template)">Entregar</button></td> -->
                <ng-template #template>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Confirmar entrega de pedido</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Desea confirmar la entrega del pedido: <strong>{{item.codigo_mesa}}</strong>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success"
                            (click)="eliminarCliente(item.id_cliente)">Si</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            (click)="modalRef.hide()">No</button>
                    </div>
                </ng-template>
        </tr>
    </table>
    <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
    <button type="button" [routerLink]="['/cliente/altaCliente']" class="btn btn-primary">Crear <i
            class="fas fa-plus"></i></button>
</div>