
<div class="panel-tarjetas">
<div class="row">
  <div class="col-md-4 tarjetas">
      <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">
              <i class="fas fa-glass-martini fa-3x"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Etc..</p>
          </div>
      </div>
  </div>
  <div class="col-md-4 tarjetas">
      <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">
              <i class="fas fa-address-card fa-3x"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Empleados</h5>
            <p class="card-text">Etc..</p>
          </div>
      </div>
  </div>
  <div class="col-md-4 tarjetas">
      <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">
              <i class="fas fa-utensils fa-3x"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Menú</h5>
            <p class="card-text">Etc..</p>
        </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-4 tarjetas">
        <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <i class="fas fa-table fa-3x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Mesas</h5>
              <p class="card-text">Etc..</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 tarjetas">
        <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <i class="fas fa-clipboard-list fa-3x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Encuesta</h5>
              <p class="card-text">Etc..</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 tarjetas">
        <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <i class="fas fa-chart-bar fa-3x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Estadísticas</h5>
              <p class="card-text">Etc..</p>
          </div>
      </div>
    </div>

  </div>
</div>