<div class="card-deck">
  <div class="card">
      <img src="assets/images/Menu.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Menu</h5>
      <p class="card-text">Menu.</p>
    </div>
  </div>
  <div class="card" [routerLink]='cliente'>
  <div>
    <img src="assets/images/Menu.jpg" class="card-img-top" alt="...">
  </div>
    <div class="card-body">
      <h5 class="card-title">Sectores</h5>
      <p class="card-text">Empleados, Clientes.</p>
    </div>
  </div>
  <div class="card">
    <div>
      <img src="assets/images/Menu.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">Estadísticas</h5>
      <p class="card-text">Encuesta.</p>
    </div>
  </div>
</div>


<footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>La Comanda Argentina - <a href="https://www.lacomandaargentina.com" title="Visita La Comanda">www.lacomandaargentina.com.ar</a></p>
  </footer>
  