<div class="table-responsive" id="tablaMenus" style="background-color:white">
    <a>Vinos y Tragos</a>
    <table class="records_list table table-striped table-bordered table-hover" id="mydatatable">
        <thead>
            <tr>
                <th>Plato</th>
                <th>Foto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tr *ngFor="let item of menus">
            <td>{{item.nombre}}</td>
            <td>{{item.foto}}</td>
            <td><input type="number" id="cantidad"></td>
            <td>$ {{item.precio}}</td>
            <td></td>
        </tr>
    </table>
</div>

<div class="table-responsive" id="tablaMenus" style="background-color:white">
    <a>Cervezas</a>
    <table class="records_list table table-striped table-bordered table-hover" id="mydatatable">
        <thead>
            <tr>
                <th>Plato</th>
                <th>Foto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tr *ngFor="let item of menus">
            <td>{{item.nombre}}</td>
            <td>{{item.foto}}</td>
            <td><input type="number" id="cantidad"></td>
            <td>$ {{item.precio}}</td>
            <td></td>
       </tr>
    </table>
</div>

<div class="table-responsive" id="tablaMenus" style="background-color:white">
    <a>Platos</a>
    <table class="records_list table table-striped table-bordered table-hover" id="mydatatable">
        <thead>
            <tr>
                <th>Plato</th>
                <th>Foto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tr *ngFor="let item of menus">
            <td>{{item.nombre}}</td>
            <td>{{item.foto}}</td>
            <td><input type="number" id="cantidad"></td>
            <td>$ {{item.precio}}</td>
            <td></td>
        </tr>
    </table>
</div>

<div class="table-responsive" id="tablaMenus" style="background-color:white">
    <a>Candy Bar</a>
    <table class="records_list table table-striped table-bordered table-hover" id="mydatatable">
        <thead>
            <tr>
                <th>Plato</th>
                <th>Foto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tr *ngFor="let item of menus">
            <td>{{item.nombre}}</td>
            <td>{{item.foto}}</td>
            <td><input type="number" id="cantidad"></td>
            <td>$   {{item.precio}}</td>
            <td></td>
        </tr>
    </table>
</div>

<button type="button" [routerLink]="['/cliente/altaCliente']" class="btn btn-primary">Hacer Pedido</button>