.img-responsive {
    width: 75px; 
    height: 75px;
};

.categorias {
    font-size: 20px; 
    color: white;
}

.contenedor-menu{
    padding-top: 20px;
    padding-bottom: 20px; 
    border-radius: 15px;
    background-color: #F4F3F3;
}
