<div class= "container contenedor-estadisticas">
  <p>
    Estadisticas
  </p>

  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [plugins]="barChartPlugins"
        [chartType]="barChartType"
        (chartHover)="chartOvered($event)"
        (chartCick)="chartClicked($event)"></canvas>
    </div>
    <button class="btn btn-primary btn-block" (click)="randomize()">Actualizar</button>
</div>


</div>


