<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <label style="font-size: 30px; margin-top: 25px;color: #56baed;font-weight: bold;">Registro</label>

    <!-- Icon -->
    <div class="fadeIn first" style="margin-top: 10px; margin-bottom: 10px;">
      <img src="assets/images/perfil.png" style="max-width: 125px;" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="formUsuario" (ngSubmit)="guardarUsuario()">
      <span style="font-weight: bold;font-style: italic;">Nombre</span>
      <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre...">

      <span style="font-weight: bold;font-style: italic;">Apellido</span>
      <input type="text" id="apellido" class="form-control" formControlName="apellido" placeholder="Apellido..."><br/>

      <span style="font-weight: bold;font-style: italic;">Mail</span><br/>
      <input type="text" id="usuario" class="form-control" formControlName="usuario" placeholder="Mail..."><br/>

      <span style="font-weight: bold;font-style: italic;">Clave</span><br/>
      <input type="password" id="clave" class="form-control" formControlName="password" placeholder="Clave..."><br/>
      <input type="submit" class="fadeIn fourth" value="Registrar">
    </form>

  </div>
</div>