<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <label style="font-size: 30px; margin-top: 25px;color: #56baed;font-weight: bold;">Registro</label>

    <!-- Icon -->
    <div class="fadeIn first" style="margin-top: 15px; margin-bottom: 10px;">
      <img src="assets/images/perfil.png" style="max-width: 200px;" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="registro" class="fadeIn second" name="registro" placeholder="Ingrese un usuario">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Ingrese una clave">
      <input type="submit" class="fadeIn fourth" value="Registrar">
    </form>

  </div>
</div>