<div class="table-responsive" id="tablaClientes" style="background-color:white">
  <table class="table table-striped" id="mydatatable">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Mesa</th>
        <th>Codigo Pedido</th>
        <th>Detalle</th>
        <th>Estado Pedido</th>
        <th>Tiempo Espera</th>
        <th style="text-align: center">Acciones</th>
      </tr>
    </thead>
    <tr *ngFor="let item of listadosService.sector_pedido | paginate: { itemsPerPage: 5, currentPage: pageActual }">
      <td>{{item.nombreCliente}} {{item.apellidoCliente}}</td>
      <td>{{item.id_mesa}}</td>
      <td>{{item.codigo_pedido}}</td>
      <td>{{item.detalleMenu}}</td>
      <td>{{item.detalleEstadoPedido}}</td>
      <td>{{item.tiempo_espera}}</td>
      <td><button type="button" class="btn btn-success" (click)="cambiarEstadoPedido(4)"
          style="margin: 10px">Servido <i class="fas fa-check"></i></button></td>
    </tr>
  </table>
  <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente">
  </pagination-controls>
</div>