<div class="container contenedor-clientes">
    <label class="titulo">CLIENTE</label>
    <form [formGroup]="formCliente" (ngSubmit)="guardarCliente()">

        <div class="row">
            <div class="col-md-9 col-sm-8">
                <div class="row clientes">
                    <!-- Input Nombre -->
                    <div class="col-md-6">
                        <input type="text" id="nombre" class="form-control" formControlName='nombre'
                            placeholder="Nombre..">
                        <span style="color: red" *ngIf="formCliente.controls['nombre'].touched && formCliente.controls['nombre'].errors?.required">El nombre es requerido</span>   
                    </div>
                    <!-- Input Apellido -->
                    <div class="col-md-6">
                        <input type="text" id="apellido" class="form-control" formControlName='apellido'
                            placeholder="Apellido..">
                        <span style="color: red"  *ngIf="formCliente.controls['apellido'].touched && formCliente.controls['apellido'].errors?.required">El apellido es requerido</span>
                    </div>
                </div>
                <div class="row clientes">
                    <!-- Input DNI -->
                    <div class="col-md-6">
                        <input type="text" id="dni" class="form-control" formControlName='dni' placeholder="DNI..">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" formControlName='fechaNac' placeholder="Fecha de nacimiento..">
                    </div>
                </div>
                <div class="row clientes">
                    <!-- Input Otro -->
                    <div class="col-md-6">
                        <input type="text" class="form-control" formControlName='otro' placeholder="Mesa..">
                    </div>
                    <!-- Input Pedido -->
                    <div class="col-md-6">
                        <input type="text" class="form-control" formControlName='pedido' placeholder="Pedido..">
                    </div>
                </div>
                <div class="row clientes">
                    <!-- Guardar -->
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success" (click)='guardarCliente()' [disabled]= 'formCliente.invalid'>Guardar</button>
                    </div>
                    <!-- Cancelar -->
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
        </div>
    </div>
    </form>
</div>


