<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div class="container contenedor-clientes">
    <label class="titulo">Detalle Cliente</label>
        <div class="row" *ngFor="let item of cliente">
            <div class="col-md-9 col-sm-8">
                <div class="row clientes">
                    <div class="col-md-6">
                        <input type="text" id="nombre" class="form-control" value="{{item.nombre}}" disabled> 
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="apellido" class="form-control" value="{{item.apellido}}" disabled>
                    </div>
                </div>
                <div class="row clientes">
                    <div class="col-md-6">
                        <input type="numeric" id="telefono" class="form-control" value="{{item.telefono}}" disabled> 
                    </div>
                    <div class="col-md-6">
                        <input type="email" id="mail" class="form-control" value="{{item.mail}}" disabled>           
                    </div>
                </div>
                <div class="row clientes">
                    <div class="col-md-6">
                        <input type="text" id="foto" class="form-control" value="{{item.foto}}" disabled>
                    </div>
                </div>
                <div class="row clientes">
                    <div class="col-md-6">
                        <input type="text" id="usuario" class="form-control" value="{{item.usuario}}" disabled>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="password"  class="form-control" value="{{item.password}}" disabled>  
                    </div>
                </div>
                <div class="row clientes">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger" [routerLink]="['/cliente/listadoCliente']">Volver</button>
                    </div>
                </div>
        </div>
    </div>
</div>
