<div class="container contenedor-clientes">
    <label class="titulo">Modificar Cliente</label>
    <form [formGroup]="formCliente" (ngSubmit)="modificarCliente(template)">

        <div class="row">
            <div class="col-md-9 col-sm-8">
                <div class="row clientes">
                    <!-- Input Nombre -->
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Nombre</label></strong>
                        <input style="font-style: italic;" type="text" id="nombre" class="form-control"
                            formControlName='nombre'
                            [ngClass]="{'is-invalid': formCliente.get('nombre').value == '', 'is-valid': !(formCliente.get('nombre').value == '')}"
                            required>
                    </div>
                    <!-- Input Apellido -->
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Apellido</label></strong>
                        <input style="font-style: italic;" type="text" id="apellido" class="form-control"
                            formControlName='apellido'
                            [ngClass]="{'is-invalid': formCliente.get('apellido').value == '', 'is-valid': !(formCliente.get('apellido').value == '')}"
                            required>
                    </div>
                </div>
                <div class="row clientes">
                    <!-- Input Telefono -->
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Telefono</label></strong>
                        <input style="font-style: italic;" type="numeric" id="telefono" class="form-control"
                            formControlName='telefono'
                            [ngClass]="{'is-invalid': formCliente.get('telefono').value == '', 'is-valid': !(formCliente.get('telefono').value == '')}"
                            required>
                    </div>
                    <!-- Input Mail -->
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Mail</label></strong>
                        <input style="font-style: italic;" type="email" id="mail" class="form-control"
                            formControlName='mail'
                            [ngClass]="{'is-invalid': formCliente.get('mail').value == '', 'is-valid': !(formCliente.get('mail').value == '')}"
                            required>
                    </div>
                </div>
                <div class="row clientes">
                    <!-- Input Usuario -->
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Foto</label></strong>
                        <input style="font-style: italic;" type="text" id="foto" class="form-control"
                            formControlName='foto'
                            [ngClass]="{'is-invalid': formCliente.get('foto').value == '', 'is-valid': !(formCliente.get('foto').value == '')}"
                            required>
                    </div>
                </div>
                <div class="row clientes">
                    <!-- Input Usuario -->
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Usuario</label></strong>
                        <input style="font-style: italic;" type="text" id="usuario" class="form-control"
                            formControlName='usuario'
                            [ngClass]="{'is-invalid': formCliente.get('usuario').value == '', 'is-valid': !(formCliente.get('usuario').value == '')}"
                            required>
                    </div>
                    <!-- Input Password -->
                    <div class="col-md-6" style="font-style: italic;"><strong><label>Password</label></strong>
                        <input style="font-style: italic;" type="text" id="password" class="form-control"
                            formControlName='password'
                            [ngClass]="{'is-invalid': formCliente.get('password').value == '', 'is-valid': !(formCliente.get('password').value == '')}"
                            required>
                    </div>
                </div>
                <div class="row clientes">
                    <!-- Guardar -->
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success" [disabled]='formCliente.invalid'>Guardar <i
                                class="fas fa-save"></i></button>
                    </div>
                    <!-- Cancelar -->
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger" [routerLink]="['/cliente/listadoCliente']">Volver
                            <i class="fas fa-undo-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<ng-template #template>
    <div class="modal-body">
      <h4 class="modal-title pull-left">Cliente modificado exitosamente</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      </button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modalRef.hide()">Aceptar</button>
    </div>
  </ng-template>